
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;;
}
.tit{
  font-size: 1.5em;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-transform: titlecase;
  font-color: white important;
}
.h3{
}
.header {
  text-align: center;
  margin-top: 0px;
  margin-bottom: -50px;
  padding: 2px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  margin-left: 10px;
  margin-left: 10px;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 3px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 3px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;


}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
