
<header>
        <nav id="navbar-scroll-boo" class="navbar  fixed-top navbar-expand-lg navbar-dark nav-color text-uppercase">
            <img class="header-img" src ="./static/images/logo.png" width="60" style="border-radius: 50%;"/>
            <div class="container">
                <a class="navbar-brand logo" href="#"><span>ST MARTINS</span> DE PORES SCHOOL</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse navbar-position" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item list-style">
                            <a class="nav-link active" aria-current="page" href="#home">Home</a>
                        </li>
                        <li class="nav-item dropdown list-style">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                About us
                            </a>
                            <ul class="dropdown-menu nav-color" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item dropdown-style" href="#whoWeAre">who we are?</a></li>
                                <li><a class="dropdown-item dropdown-style" href="#whatWeDo">what we do?</a></li>
                                <li><a class="dropdown-item dropdown-style" href="#howItWork">our Activities</a></li>
                                <li><a class="dropdown-item dropdown-style" href="#">external url</a></li>
                            </ul>
                        </li>
                        <li class="nav-item list-style">
                            <a class="nav-link" href="#courses">Gallery</a>
                        </li>
                        <li class="nav-item list-style">
                            <a class="nav-link" href="#contact">Contact Us</a>
                        </li>
                        <li class="nav-item list-style">
                            <a class="nav-link" href="http://deporesweb.pythonanywhere.com/">Log in</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

        <!-- vidéo -->
        <div id="home" class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="./static/images/view.mp4" type="video/mp4">
        </video>
        <!-- Endvidéo -->

        <div class="container description text-uppercase">
            <p>
                DE PORES SCHOOL<i class=" fa-school"></i>
            </p>
            <h1>
                <span>YOUR</span> CLASSROOM
            </h1>
            <button>discover more</button>
        </div>
    </header>

