{% load static %}

<link rel="stylesheet" href="{% static 'css/videos.css' %}"/>

<section id="whoWeAre" class="whyUs">
            <div class="container">
                <div class="header">
                <div class="categorie">
                    <ul>
                        <li class="list-category best">
                            <span class="material-icons"> sports_score </span>
                            SPORTS
                            <span class="material-icons"> sports_handball </span>
                        </li>
                        <li class="list-category top">
                            <span class="text-uppercase">
                                Top <br class="d-block d-lg-none d-md-none"> management
                            </span>
                            <span class='material-icons'>people_alt</span>
                        </li>
                        <li class="list-category quality">
                            <span class="text-uppercase">
                                Naturing <br class="d-block d-lg-none d-md-none"> talent
                            </span>
                            <span class='material-icons'>engineering</span>
                        </li>
                    </ul>
                </div>
                    <div class="row">
                        <div class="col-12 why quality hide">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                    <video controls>
              <source src="https://res.cloudinary.com/dlcvinuok/video/upload/v1676036560/media/videos/view_a8boxv.mp4" crop="fill" class="card-img-top rounded-0" type="video/mp4">
                                    </video>


                                </div>
                            </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="content">
                                        <h4>Our Partners</h4>
                                        <p>
                                            We believe family-school-community partnership are a shared responsibility and
                                            reciprocal process whereby
                                            schools and other community parties and organizations dream of greatness...
                                            <a href="#" class="link">Read more</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 why best">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                    <video controls>
              <source src="https://res.cloudinary.com/dlcvinuok/video/upload/v1676036560/media/videos/view_a8boxv.mp4" crop="fill" class="card-img-top rounded-0" type="video/mp4">
            </video>

                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="content">
                                        <h4>Best education</h4>
                                        <p>
                                            De Pores learners are in charge of their own educational journey while
                                            the teacher is there to equip, guide and enable the child. Lessons are
                                            made relevant to the learner and therefore interesting for them. Outcomes
                                            are project/activity based.
                                            “They focus on children as individuals.”...
                                            <a href="#" class="link">Read more</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 why top hide">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                    <video controls>
              <source src="https://res.cloudinary.com/dlcvinuok/video/upload/v1676036560/media/videos/view_a8boxv.mp4" crop="fill" class="card-img-top rounded-0" type="video/mp4">
            </video>

                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                    <div class="content">
                                        <h4>Educating the whole child</h4>
                                        <p>
                                            Besides making amazing academic progress, a De Pores child is
                                             engaged in co-curricular activities based on their interest
                                              and area of talent: The school ensures that their ability is
                                              nurtured at a competitive standard. This ranges from sports to
                                              the performing arts. Beyond that, we respect all faiths and provide
                                               pastoral programmes for both Christians and Muslims...
                                            <a href="#" class="link">Read more</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </section>

