<section class="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="features-post">
                            <div class="features-content">
                                <div class="content-show">
                                    <h4>
                                        <i class="fas fa-pencil-alt"></i> Who We Are
                                    </h4>

                                </div>
                                <div class="content collapsed">
                                    <p class="d-none d-lg-block d-md-block">
                                        A De Porres education is more than just about
                                        good grades, sporting prowess or artistic talent.
                                        It is about young people of good character, armed with
                                        the courage, compassion and
                                        humility to really make a difference in the world."
                                    </p>
                                    <p class="d-block d-lg-none d-md-none">
                                        ST Martins De Porres fosters courage, generosity, imagination, principle and
                                        resolve so that our children emerge empowered with the skills and
                                        abilities to be the leaders and guardians of tomorrow’s world.
                                    </p>
                                    <a href="#">more info.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="features-post">
                            <div class="features-content">
                                <div class="content-show">
                                    <h4>
                                        <i class="fas fa-graduation-cap"></i>  Our Classes
                                    </h4>
                                </div>
                                <div class="content collapsed">
                                    <p class="d-none d-lg-block d-md-block">
                                        ST Martins De Porres fosters courage, generosity, imagination, principle and
                                        resolve so that our children emerge empowered with the skills and
                                        abilities to be the leaders and guardians of tomorrow’s world.
                                    </p>
                                    <p class="d-block d-lg-none d-md-none">
                                        courage, generosity, imagination, principle and
                                        resolve so that our children emerge empowered with the skills and
                                        abilities to be the leaders and guardians of tomorrow’s world.

                                    <a href="#">more info.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="features-post">
                            <div class="features-content">
                                <div class="content-show">
                                    <h4>
                                        <i class="fa fa-book"></i> ABOUT US
                                    </h4>
                                </div>
                                <div class="content collapsed">
                                    <p class="d-none d-lg-block d-md-block">
                                        The school was opened to facilitate and offer quality learning in, around and
                                        beyond my village with a high-state vision to also spot, nurture and support
                                        children’s talents in class and co curricular activities. We are an
                                        Education and Talent supportive institution
                                    </p>
                                    <p class="d-block d-lg-none d-md-none">
                                        St. Martins de Porres started in 2012 as a Primary Day-Only School project purposefully
                                        to help the community but gradually became a Primary Day and Boarding school.
                                        It is located 800 m off Tala-Kisukioni road and 2km from Nguluni town.
                                    </p>
                                    <a href="#">more info.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>