 <section id="courses" class="lesson">

            <div class="container">
                <div style="margin-bottom: 3rem;">
                    <div class="ligne"></div>
                    <div class="header">
                        Our Moments
                    </div>
                </div>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="./static/images/alumni.jpeg" width="100%" alt="">
                        <div class="info-course">
                            <h4>ALUMNI</h4>
                            <P>
                                These are the fond memories of De Pores and life after school experiences shared by our alumni. </P>
                            <div class="info-fo">
                                <img src="./static/images/" alt="">
                                <a href="#" class="pay"> Pay <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./static/images/parade.jpeg" width="100%" alt="">
                        <div class="info-course">
                            <h4>BRIEFING</h4>
                            <P>
                                The learners also have very warm relationships with their teachers and are free to express their concerns. </P>
                            <div class="">
                                <a href="#" class="free"> More <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./static/images/luku.jpeg" width="100%" alt="">
                        <div class="info-course">
                            <h4>CARING FOR YOU</h4>
                            <P>
                                “We focus on children as individuals.” </P>
                            <div class="info-fo">
                                <img src="./images/logo1.png" alt="">
                                <a href="#" class="pay">More<i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./static/images/chipu.jpeg" width="100%" alt="">
                        <div class="info-course">
                            <h4>Great sessions</h4>
                            <P>
                                A De Pores education is more than just about good grades, sporting prowess or artistic talent.
                                 </P>
                            <div class="info-fo">
                                <img src="" alt="">
                                <a href="#" class="pay"> More <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./static/images/chill.jpeg" width="100%" alt="">
                        <div class="info-course">
                            <h4>Having Fun</h4>
                            <P>
                                Enjoying the learning experience at De Pores is captivating. </P>
                            <div class="info-fo">
                                <img src="./static/images/" alt="">
                                <a href="#" class="pay"> Check <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./static/images/school.jpeg" width="100%" alt="">
                        <div class="info-course">
                            <h4>Our Glimpse</h4>
                            <P>
                                More to come. </P>
                            <div class="info-fo">
                                <a href="#" class="free"> More <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./static/images/van.jpeg" width="100%" alt="">
                        <div class="info-course">
                            <h4>School Van</h4>
                            <P>
                                It is about young people of good character,
                                 armed with the courage, compassion and humility to really make a difference in the world.
                               Light moments with the very best in different areas </P>
                            <div class="info-fo">
                                <img src="./static/images/" alt="">
                                <a href="#" class="pay"> More <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./static/images/fun.jpeg" width="100%" alt="">
                        <div class="info-course">
                            <h4>FUN </h4>
                            <P>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, ipsum. </P>
                            <div class="info-fo">
                                <img src="./static/images/" alt="">
                                <a href="#" class="free"> More <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./static/images/greet.jpeg" width="100%" alt="">
                        <div class="info-course">
                            <h4>FUN MOMENTS</h4>
                            <P>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, ipsum. </P>
                            <div class="info-fo">
                                <img src="./static/images/" alt="">
                                <a href="#" class="pay"> More <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./static/images/chipu2.jpeg" width="100%" alt="">
                        <div class="info-course">
                            <h4>LIGHT MOMENTS</h4>
                            <P>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, ipsum. </P>
                            <div class="info-fo">
                                <img src="./static/images/" alt="">
                                <a href="#" class="pay"> More <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./static/images/bikes.jpeg" width="100%" alt="">
                        <div class="info-course">
                            <h4>Sports</h4>
                            <P>
                                The school ensures that their ability is nurtured at a competitive standard.
                                This ranges from sports to the performing arts. </P>
                            <div class="info-fo">
                                <img src="./static/images/" alt="">
                                <a href="#" class="pay"> More <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <img src="./static/images/bike1.jpeg" width="100%" alt="">
                        <div class="info-course">
                            <h4>HIKING</h4>
                            <P>
                                Keeping fit thriugh fun for our pupils </P>
                            <div class="info-fo">
                                <img src="./static/images/" alt="">
                                <a href="#" class="free"> :) <i class="fas fa-angle-double-right"></i> </a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </section>