{% load static %}
<link rel="stylesheet" href="{% static 'css/videos.css' %}"/>

<header>

<section class="video" id="home">
  <video autoplay loop playsinline muted>
      <source src="{% static 'images/view.mp4' %}"/>
  </video>
    <div class="container description text-uppercase">
            <h1>
                <span>YOUR</span> CLASSROOM
            </h1>
            <button>discover more</button>
    </div>


</section>
</header>

<!-- Page section example for content below the video header -->

