<section id="whatWeDo" class="timer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                        <div class="content">
                            <p class="big-text">
                                Bring <a href="#" class="linko"> Your Child</a> And Watch him/her Experience Greatness
                                 <h4 class="linko big-text" style="color: chocolate;"> JANUARY INTAKE IS ONGOING</h4>
                            </p>
                            <div class="count">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="days time">
                                            <span class="number">92</span>
                                            <span class="category text-uppercase">days</span>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="hours time">
                                            <span class="number">92</span>
                                            <span class="category text-uppercase">hours</span>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="minutes time">
                                            <span class="number">92</span>
                                            <span class="category text-uppercase">minutes</span>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="seconds time">
                                            <span class="number">92</span>
                                            <span class="category text-uppercase">seconds</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                        <div class="register">
                            <div class="register-text">
                                <p>
                                    Register your child to spend an entire day in our school.
                                     Let them enjoy the rich De Pores experience from interacting with
                                     the learners & teachers, play activities, the amazing facilities
                                      and enjoy the healthy and delicious menu :).

                                </p>
                            </div>
                            <div class="register-form">
                                <input type="text" name="name" placeholder="Your Name" id="mane" required>
                                <input type="email" name="email" placeholder="Your Email" id="email" required>
                                <input type="tel" name="tel" placeholder="Your Phone Number" id="number" required>
                                <button type="submit" class="btn text-uppercase">
                                    REGISTER NOW
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>