<section id="howItWork" class="presentation">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="pre-content">
                            <p class="smal-text text-uppercase">
                                Our Mission is for your child
                            </p>
                            <h4>
                                Check the video to learn more <span> about St Martins De Pores School</span>
                            </h4>
                            <p class="text">
                                We currently have a total of 150 students from class 1 to class 8,
                                where 6 students are boarders while the rest are day schoolers. In the near future,
                                we plan to expand and construct an up-to date fully equipped modern school with a
                                plan to construct more classes, an administration block and dormitories to accommodate
                                the high in demand of new students.
                            </p>
                            <p class="text">
                                The school was opened to facilitate and offer quality learning in,
                                around and beyond my village with a high-state vision to also spot,
                                nurture and support children’s talents in class and co curricular activities.
                                We are an Education and Talent sup- portive institution.
                            </p>
                            <button class="btn url text-uppercase">
                                More on Our Story
                            </button>

                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="pre-content">
                            <div class="video-des">
                                <div class="bgr">
                                    <p class="h4 text-uppercase">
                                        Naturing Greatness
                                    </p>
                                    <p class="run">
                                        <a href="{% url 'school_media:videos' %}">
                                        <i class="fas fa-play"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>